@import "tailwindcss";
@import "tailwindcss";

/* 全体の背景を少しグレーにして、コンテンツ（白）を際立たせる */
body {
  @apply bg-slate-100 text-slate-800;
}

/* 見出しのデフォルトスタイル */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-slate-900;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
